# BLE API (used by proxy and client)
BLE_API_URL=https://rkali63t89.execute-api.us-east-2.amazonaws.com/Prod
BLE_API_KEY=MlzzVbn4og1AN93aBra5pa9OTKZs716j35uFuV1I

# Optional: override for client (Vite exposes only VITE_ prefixed vars)
VITE_BLE_API_URL=https://rkali63t89.execute-api.us-east-2.amazonaws.com/Prod
VITE_BLE_API_KEY=MlzzVbn4og1AN93aBra5pa9OTKZs716j35uFuV1I
